.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form input {
  width: 150px;
  height: 20px;
  margin: 5px;
}

.form button {
  background-color: yellow;
  border-radius: 5px;
  margin: 5px
}

.form button {
  background-color: #99ccff;
  border: solid black 1px;
  border-radius: 5px;
  margin: 5px;
  padding:7px
}

.form button:hover {
  background-color: grey;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
