.header {
  background-color: #f1f1f1;
  display: flex;
  text-align: center;
}

.header-title {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 20px;
  margin-right: 25px;
  padding: 5px;
  border-radius: 5px;
  font-size: 20px;
}

.header-item {
  margin: 5px;
  padding: 5px;
  border: solid black 2px;
  border-radius: 5px
}
